.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 1rem;
}

.invalid {
  border: 2px solid red;
}

.input-wr {
  display: flex;
  column-gap: 0.3rem;
}

.error {
  color: red;
  background-color: white;
  padding: 0.5rem;
  font-weight: 700;
}
